.nav-pills > li > a.active {
    background-color: #fbaa1d!important;
}

.accent-color {
    color: #fbaa1d;
}

.subscribe {
    background-color: #fbaa1d!important;
    border-color: #fbaa1d!important;
}
.m-45-btm {
    margin-bottom: 45px;
}